{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickCards</title>

    <!-- Style sheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="nav-header">
            <i class="material-icons md-header">style</i>
            <h3 class="nav-header-text">QuickCards</h3>
        </div>
        <div class="nav-content">
            <div class="nav-center">
                <ul class="nav-button-cluster">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:manage' %}">Manage</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:home' %}">About</a></li>
                        <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:home' %}">Support</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-right">
                <ul class="nav-button-cluster">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-item-link" href="{% url 'flashcards:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item nav-item-red"><a class="nav-item-link" id="nav-item-link-red" href="{% url 'flashcards:register' %}">Join Now!</a></li> 
                    {% endif %}    
                </ul>
            </div>
        </div>
    </div>

    {% block content %} {% endblock %}
</body>
</html>
