{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Flashcards Website</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'flashcards:home' %}">Flashcards</a>
            <div class="navbar-links">
                <ul class="navbar-list">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flashcards:manage' %}">Manage Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flashcards:home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flashcards:logout' %}">Logout</a>
                        </li>
                    {% else %}  
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flashcards:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'flashcards:register' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
