{% extends 'flashcards/base.html' %}

{% block content %}
<div class="card-container">
    <div class="row">
        {% if user.is_authenticated %}
            {% for chapter in chapters %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ chapter.subject.subject_name }} : {{ chapter.chapter_name }}</h5>
                        <p class="card-text">
                            <a href="{% url 'flashcards:revision' chapter.id %}" class="btn btn-primary">Go to Revision</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="card mb-4 home-card">
            <p>Please <a href="{% url 'flashcards:login' %}">log in</a> to view your chapters.</p>
            <a href="{% url 'flashcards:login' %}" class="btn btn-primary">Log In</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
