{% extends 'flashcards/base.html' %}
{% block content %}
<div class="main-content">
    {% if user.is_authenticated %}
    <h3 class="main-content-heading">Your chapters :</h3>
    <div class="chapters-list">
        {% for chapter in chapters %}
        <div class="chapter-card-container" id="chapter-container-{{ chapter.id }}" data-color="{{ chapter.subject.color }}">
                <div class="chapter-card">
                    <div class="chapter-card-heading">
                        <div class="card-heading-chapter">{{ chapter.chapter_name }}</div>
                        <div class="card-heading-subject">{{ chapter.subject.subject_name }}</div>
                    </div>
                    <div class="card-count">
                        Due For Revision : <span class="card-revision-count">{{ chapter.revision_count }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}    
    </div>
     
    {% else %}
        <div class="marketing-content-container">
            <div class="hero">
                <div class="heading">Studies on Steroids</div>
                <div class="subheading">Effortless Learning and Last-Minute Preparation.</div>
                <button class="general-button"><a href="#" class="general-button-link">Get Started</a></button>
            </div>

            <div class="features-container">
                <div class="heading">Why QuickCards?</div>
                <div class="heading pink">Features</div>

                <div class="features-card-catalog">
                    <div class="feature-card">
                        <div>
                            <i class="material-icons" style="font-size: 64px;">replay</i>
                        </div>
                        <div class="feature-heading">
                            Instant Revision
                        </div>
                        <div class="feature-body">
                            Facilitates last minute revision with a unique flip feature.
                        </div>
                    </div>
                    <div class="feature-card">
                        <div>
                            <i class="material-icons" style="font-size: 64px;">tune</i>
                        </div>
                        <div class="feature-heading">
                            Customizable Flashcards
                        </div>
                        <div class="feature-body">
                            Create, edit and organize flashcards for each subject and topic.
                        </div>
                    </div>
                    <div class="feature-card">
                        <div>
                            <i class="material-icons" style="font-size: 64px;">account_tree</i>
                        </div>
                        <div class="feature-heading">
                            Topic Based Organization
                        </div>
                        <div class="feature-body">
                            Organize flashcards by topic for seamless navigation and focused learning.
                        </div>
                    </div>
                </div>
            </div>

            <div class="review">
                <div class="review-hero">
                    <div class="review-hero-heading">
                        All <span class="review-hero-heading-span pink">customers</span> love us.
                    </div>
                    <div class="review-hero-body">
                        And we will brag about that for a while.
                    </div>
                </div>

                <div class="review-quote">
                    <div class="review-quote-icon"><i class="material-icons" style="font-size:64px">messages</i></div>
                    <div class="review-quote-body">
                        "This is a very real review. a very real review. An extremely review review. Big review.
                        Nice review. Sweet review. wonderful review. tasty review. 
                        wonderful review. it is an interesting review indeed"
                    </div>
                    <div class="review-quote-human">- Human Being</div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var chapters = document.querySelectorAll(".chapter-card-container");

        chapters.forEach(function(chapter) {
            var subjectColor = chapter.getAttribute("data-color");
            var imageUrl = "";

            if (subjectColor == "red") {
                imageUrl = '/static/images/red_card_bg.png';
            } else if (subjectColor == "blue") {
                imageUrl = '/static/images/blue_card_bg.png';
            } else if (subjectColor == "green") {
                imageUrl = '/static/images/green_card_bg.png';
            } else if (subjectColor == "orange") {
                imageUrl = '/static/images/orange_card_bg.png';
            } else if (subjectColor == "pink") {
                imageUrl = '/static/images/pink_card_bg.png';
            }

            var chapterCard = chapter.querySelector(".chapter-card");
            chapterCard.style.backgroundImage = `url(${imageUrl})`;

            chapter.addEventListener("click", function() {
                var chapterId = chapter.id.split('-').pop();
                var url = "{% url 'flashcards:revision' 0 %}".replace("0", chapterId);
                window.location.href = url;
            });
        });
    });
</script>

{% endblock %}
