{% extends 'flashcards/base.html' %}
{% block content %}
<div class="main-content">
    {% if user.is_authenticated %}
        <h3 class="main-content-heading">Your chapters : </h3>
        <div class="chapters-list">
            {% for chapter in chapters %}
                <div class="chapter-card-container">
                    <div class="chapter-card">
                        <div class="card-heading">
                            <!-- TO DO - use javascript to make this clickable to take you to revision. -->
                            <h4 class="chapter-card-heading">{{ chapter.subject.subject_name }} : {{ chapter.chapter_name }}</h4>
                        </div>
                        <div class="card-count">
                            <p>To Revise : 5</p>
                            <p>Total : 63</p>
                        </div>
                    </div>
                </div>
            {% endfor %}    
        </div> 
    {% else %}
        <div class="marketing-content-container">
            <h4>Test</h4>
        </div>
    {% endif %}
</div>
{% endblock %}
