{% extends "flashcards/base.html" %}
{% block content %}
<div class="main-content" id="form-content">
    <div class="form-card">
        <div class="form-header">
            Register!
        </div>
        <div class="form-content">
            <form action="" class="form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>
                    {{field}}
                    {{field.errors}}
                </div>
                {% endfor %}
                <button type="submit" class="form-submit-btn">Register</button>
                <a href="{% url 'flashcards:login' %}" class="form-link">Already have an account?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}