{% extends "flashcards/base.html" %}
{% block content %}
<div class="main-content revision-content">
    <div class="heading">
        Revision
    </div>
    {% if flashcard %}
    <div class="flashcard">
        <div class="flashcard-body flashcard-front">
            <div class="card-top">
                <div class="card-subject">{{ flashcard.chapter.subject.subject_name }}</div>
                <div class="card-chapter">{{ flashcard.chapter.chapter_name }}</div>
            </div>
            <div class="flashcard-content">
                <div class="flashcard-front-content">
                    {{ flashcard.flashcard_front }}
                </div>
            </div>
        </div>

        <div class="flashcard-body flashcard-back" id="flashcard-back">
            <div class="flashcard-content">
                <div class="flashcard-front-content">
                    {{ flashcard.flashcard_front }}
                </div>
                <div class="flashcard-back-content">
                    {{ flashcard.flashcard_back }}
                </div>
            </div>
        </div>

        <div class="show-answer-btn">
            <button class="general-button" id="show-answer">Show Answer</button>
        </div>
        <div class="button-group" style="display: none;">
            <button class="general-button" id="easy-button"><a href="{% url 'flashcards:next_flashcard' flashcard_id=flashcard.id difficulty=2 %}" class="general-button-link">Easy</a></button>
            <button class="general-button" id="medium-button"><a href="{% url 'flashcards:next_flashcard' flashcard_id=flashcard.id difficulty=1 %}" class="general-button-link">Medium</a></button>
            <button class="general-button" id="hard-button"><a href="{% url 'flashcards:next_flashcard' flashcard_id=flashcard.id difficulty=0.3 %}" class="general-button-link">Hard</a></button>  
        </div>
    </div>
    {% else %}
    <div class="noflashcard">
        No Flashcards To Revise
    </div>
    <button class="general-button"><a href="{% url 'flashcards:home' %}" class="general-button-link">Go Back</a></button>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const showAnswerButton = document.getElementById("show-answer");
    const flashcardFront = document.querySelector('.flashcard-front');
    const flashcardBack = document.querySelector('.flashcard-back');
    const buttonGroup = document.querySelector('.button-group');
    const showAnswerBtn = document.querySelector('.show-answer-btn');

    showAnswerButton.addEventListener("click", function() {
        flashcardFront.style.transform = "rotateY(180deg)";
        flashcardBack.style.transform = "rotateY(0deg)";
        flashcardFront.style.display = "none";
        flashcardBack.style.display = "block";

        buttonGroup.style.display = "flex";
        showAnswerBtn.style.display = "none";
        
    });
});


</script>
{% endblock %}
